<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MaThEmAtIc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MaThEmAtIc.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Сайт преподавателя математики ТК ВСГУТУ</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                            <ul class="subnavbar">
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home">Студентам</a>
                            <ul class="subnavbar">
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Homework">Домашние задания</a>
                                </li>
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="FOS">ФОС</a>
                                </li>
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="RPD">РПД</a>
                                </li>
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Lectures">Лекции</a>
                                </li>
                                <li>
                                    <p><a class="nav-link text-dark" href="https://documentcloud.wondershare.com/clientShare/review/bpcFVoayn8Msp0rtjRcN4cP_WJymT72B7wLS982SrRnIemh90C6SFKpPd9eWxdV-li9IkVCTQdd4nPDHRUHANA">Колягин Ю.Н.</a></p>
                                </li>
                                
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="">Полезные ссылки</a>
                            <ul class="subnavbar">
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="">Новости</a>
                            <ul class="subnavbar">

                            </ul>
                        </li>
                        <ul class="navbar-nav flex-grow-2">
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Вход</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-action="NewUser" asp-controller="Home">Регистрация</a>
                            </li>
                            @* @if (SignInManager.IsSignedIn(User))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Привет @User.Identity?.Name!</a>
                                </li>
                                <li class="nav-item">
                                    <form class="form-check-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = ""})">
                                        <button type="submit" class="nav-link btn btn-link text-dark">Выход</button>
                                    </form>
                                </li>
                            } *@
                            @* else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-action="NewUser" asp-controller="Home">Регистрация</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-action="Login" asp-controller="Home">Вход</a>
                                </li>
                            } *@
                        </ul>
                    </ul>
                    <ul class="navbar-nav flex-grow-2">
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Вход</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-action="NewUser" asp-controller="Home">Регистрация</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; Преподаватель Пойдонова В.В.<a asp-area="" asp-controller="Home"></a>
            <span style="border-radius: 2px; padding: 10px 20px;">ⓔ poidonova.v.v@gmail.ru</span>
            <span style="border-radius: 2px; padding: 10px 20px;">✆ 8(3012)430390</span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
